.nivoSliderClients {
	position:relative;
	height: 150px;
	width: 635px;
}
.nivoSliderClients img {
	position:absolute;
	top:0px;
	left:0px;
}
.nivoSliderClients a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	opacity:0.8; 
	width:100%;
	z-index:8;
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
.nivo-controlNav a {
	position:relative;
	z-index:9;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}

.theme-clients #sliderclients {
	width:635px;
	height: 150px;
}
.theme-clients .nivoSliderClients {
	position:relative;
	background-color: #fff;
	background-image: url(../images/loading.gif);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.theme-clients .nivoSliderClients img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-clients .nivoSliderClients a {
	border:0;
	display:block;
}
.theme-clients .nivo-controlNav {
	position:absolute;
	left:50%;
	bottom:-42px;
	margin-left:-40px;
}
.theme-clients .nivo-controlNav a {
	display:block;
	width:22px;
	height:22px;
	background:url(../images/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.theme-clients .nivo-controlNav a.active {
	background-position:0 -22px;
}
.theme-clients .nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(../images/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
.theme-clients a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
.theme-clients a.nivo-prevNav {
	left:15px;
}
